@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Sacramento&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #8D7E83 !important;

}

h1 {
  font-family: 'Sacramento', cursive !important;
  font-size: 4rem !important;
  color: #E8D8EE;
  margin-top: 0.75em !important;
}

p {
  font-family: 'Cinzel', serif !important;
  font-size: 1.25rem;
  color: #D0ACB1;
}

a {
  font-family: 'Cinzel', serif !important;
  color: #D0ACB1 !important;
  font-size: 1.45rem;
  margin: 3rem auto;
}

.container-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-dropdown {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.container-colors {
  display: flex;
  justify-content: center;
 
}

.color1 {
  height: 200px;
  width: 200px;
  border: solid 3px black;
}

.color2 {
  height: 200px;
  width: 200px;
  border: solid black 3px
}
